body {
    background:black;
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
  }
  h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }
  .login {
    margin:0 auto;
    max-width:500px;
  }
  .login-header {
    color:rgb(18, 233, 222);
    text-align:center;
    font-size:200%;
    margin-top: 30%;
  }
  .request-header {
    color:rgb(18, 233, 222);
    text-align:center;
    font-size:200%;
    margin-top: 25%;
  }
  }
  .login-form {
    border:.5px solid #fff;
    background:none;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
  }
  .login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#fff;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:25px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login-form p{
      margin-top: 20px;
      color: #fff;
   }
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="email"],
  .login input[type="phn"]
   {
    max-width:400px;
      width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
  }
  .login-form input[type="button"] {
    height:33px;
    width:200px;
    margin-top: 20px;
    background:rgb(16, 78, 192);
    border:1px solid #0a75da;
    border-radius:20px;
    color: rgb(0, 0, 0);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  